<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header class="header-text">
            <h2></h2>
        </header>
        <section class="container">
            <div class="left-col">
                <img src="Scarecrow.png" alt="">
            </div>
            <div class="left-col">
                <div class="text">
                    <h1>I have bad news for you</h1>
                    <p>The Page You are looking for might be removed or it is temporarily unavailable</p>
                    <button class="btn">BACK TO HOMEPAGE</button>
                </div>
            </div>

            <div class="not-found">
                <img src="https://colorlib.com/wp/wp-content/uploads/sites/2/lost-in-space-free-error-page-templates.jpg" alt="">
            </div>
        </section>
        

    </body>
</html>