<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Oops! Page not found.</h2>
        <h1>404</h1>
        <p>We can not find the page you are looking foor.</p>
        <a href="/">Go back home</a>
    </div>
</body>
</html>