{% extends "layout.njk" %}


 {% block head %}
    <title>Cursos</title>
    
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     
 {% endblock %}

{% block content %}


    <div id="wrapper">
           <h1>Cursos</h1>
    </div>

    <section class="cards">

        {% for item in items %}

       <div class="card" id="{{item.id}}">
           <img src="https://app.rocketseat.com.br/starter" alt="">
           <span class="card__number">
               01
           </span>
        <div class="card__image-container">
        <img src="{{item.img}}" alt="Logo Curso starter">
    </div>

    <div class="card__content">
        <p>{{item.description}}</p>
    </div>

    <div class="card__info">
        <p>{{item.module}}</p>
        <p class="card__price">{{item.price}}</p>   
    </div>
       </div>

       {% endfor %}
    
   </section>

   
    <!----Modal -->

   <div class="modal-overlay">
          <div class="modal">

               <a class="maximize-modal">
                   <i class="material-icons">maximize</i>
              </a>

              <a class="close-modal">
                  <i class="material-icons">close</i>
              </a>


              <div class="modal-content">
                  <iframe src="" frameborder="0"></iframe>
              </div>
          </div>     
   </div>

   
   
    <div id="links-footer" class="links">
        <a href="https://github.com/Rocketseat" target="_blank"><img src="https://image.flaticon.com/icons/svg/733/733553.svg" alt="Github"></a>
        <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt" target="_blank"><img src="https://image.flaticon.com/icons/svg/2111/2111463.svg" alt="Instagram"></a>
         <a href="https://www.facebook.com/rocketseat/" target="_blank"><img src="https://image.flaticon.com/icons/svg/2111/2111398.svg" alt="Facebook"></a>
    </div>

    <script src="scripts.js"></script>

{% endblock %}